.links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout{
    padding: 7px;
    border-radius: var(--br);
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
}
.logout:hover{
    outline:1px solid  var(--primary-text-color);
    background-color: var(--background-color);
    color:var(--primary-text-color) ;
}
.burgerButton,.mobileLinks{
    display: none;
    background-color: var(  --global-backgound-color);

}
@media (max-width:768px) {
    .links{
        display: none;
    }
    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .burgerButton{
        display: block;
        color: white;
        outline: 1px solid var(--primary-text-color);
        padding: 2px;
        border-radius: 5px;
        font-size:24px;
        display: flex;
        align-items: center;
    }
}
