.container{
    height: 100px;
    padding: var(--layout-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--global-backgound-color);

}
.logo{
   font-size: 30px;
   font-weight: bold; 
}
