.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--global-backgound-color);
    height: 100px;
    padding: var(--layout-padding);
}
.text{
    font-size: 12px;
    flex: 3;
    text-align: center;
}