.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  
  .form input{
    padding: 20px;
    background-color: var(--primary-text-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
  }
  
  .form button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--global-backgound-color);
    color: var(--primary-text-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }