.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.top{
    display: flex;
}

.imgContainer{
    width:90%;
    height: 300px;
    position: relative;
}

.img{
    object-fit: cover;
}
.date{
    transform: rotate(270deg);
    margin: auto;
}
.bottom p{
    font-weight: 300;
    color: gray;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.link{
    text-decoration:underline;
}